// color
$primary-default: #05648A;
$primary-dark: #025070;
$secondary-default: #FED39B;
$bg-white: #F8F8F8;
$text-white: #fcfcfc;
$gray-400: #CCCCCC;
$gray-500: #71717A;
$gray-700: #44403C;
$black: #403737;
$warning: #B10C2C;