// color
$primary-default: #05648A;
$primary-dark: #025070;
$secondary-default: #FED39B;
$bg-white: #F8F8F8;
$text-white: #fcfcfc;
$text-gray: #CCCCCC;
$text-gray-dark: #71717A;
$text-black: #403737;
$text-danger: #B10C2C;