// //font
// @font-face {
//     font-family: 'Noto Serif TC';
//     src: url('/fonts/NotoSerifTC-Black.otf') format('opentype');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Noto Serif TC';
//     src: url('/fonts/NotoSerifTC-Bold.otf') format('opentype');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Noto Sans TC';
//     src: url('/fonts/NotoSansTC-Black.otf') format('opentype');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Noto Sans TC';
//     src: url('/fonts/NotoSansTC-Bold.otf') format('opentype');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }



body {
    margin: 0;
    padding: 0;
    background-color: $bg-white;
}

a {
    text-decoration: none;
    color: $primary-default;
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
}

main {
    position: relative;
    background-image: url('@/assets/img/bg.jpg');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:60px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: calc(100vh - 380px);
}